.about-section {
    overflow: hidden;
    z-index: 0;
    background-color: #f4f4f9;
    padding: 50px 20px;
    border-radius: 15px;
    margin: 1.5em;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
    color: #333;
    position: relative; /* Added to position the pseudo-element */
  }
  
  .about-title {
    z-index: 5;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #6e8efb;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    flex: 1 1 250px;
    max-width: 250px;
    margin: 20px;
  }
  
  .about-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .about-text {
    flex: 2 1 500px;
    max-width: 600px;
    margin: 20px;
    text-align: justify;
  }
  
  .about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
  
    .about-text {
      text-align: center;
    }
  }
  
  /* Pseudo-element for the donut-shaped circle */
  .about-section::before {
    content: '';
    position: absolute;
    top: -15%;
    left: -10%;
    width: 15vw;
    height: 15vw;
    border: 3vw solid #a777e3;
    border-radius: 50%;
    border-color: #a777e3 transparent transparent #a777e3;
    transform: rotate(180deg);
    transform-origin: center center;
    z-index: 0;
  }
  
  @media (max-width: 768px) {
    .about-section::before {
      top: -20%;
      left: -20%;
      width: 20vw;
      height: 20vw;
      border: 5vw solid #a777e3;
    }
  }
  
  @media (max-width: 480px) {
    .about-section::before {
      top: -25%;
      left: -25%;
      width: 35vw;
      height: 35vw;
      border: 5vw solid #a777e3;
    }
  }
  