#contact {
    padding: 2em 1em;
    background: linear-gradient(-135deg, #cfa2e9, #a07eca, #a777e3);
    color: #f8f6f6;
    text-align: center;
    position: relative; /* Added to position the pseudo-element */
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact-container p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .contact-links a {
    display: inline-block;
  }
  
  .contact-links img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
  }
  
  .contact-links img:hover {
    transform: scale(1.5);
  }
  
  /* Pseudo-element for the donut-shaped circle */
 
  
  @media (max-width: 1024px) {
    #contact {
      padding: 2em 1.5em;
    }
  
    .contact-links {
      gap: 10px;
    }
  
    .contact-links img {
      width: 45px;
      height: 45px;
    }
  
    #contact::before {
      bottom: -10%;
      right: -10%;
      width: 20vw;
      height: 20vw;
      border: 4vw solid #a777e3;
    }
  }
  
  @media (max-width: 768px) {
    #contact {
      padding: 2em 1em;
    }
  
    .contact-links {
      flex-direction: row;
      gap: 10px;
    }
  
    .contact-links img {
      width: 40px;
      height: 40px;
    }
  
    #contact::before {
      bottom: -20%;
      right: -20%;
      width: 25vw;
      height: 25vw;
      border: 5vw solid #a777e3;
    }
  }
  
  @media (max-width: 600px) {
    #contact {
      padding: 1.5em 0.5em;
    }
  
    .contact-links img {
      width: 35px;
      height: 35px;
    }
  
    #contact::before {
      bottom: -25%;
      right: -25%;
      width: 30vw;
      height: 30vw;
      border: 5vw solid #a777e3;
    }
  }
  